body {
  background-color: #D5E1EF;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 499px;
  border-radius: 20px;
}

.copy-title {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #1F314F;
  line-height: 120%;
}

.copy-body {
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: #68778D;
  line-height: 140%
}

.qr-code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
  margin-top: 16px;
}