body {
  background-color: #D5E1EF;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 499px;
  border-radius: 20px;
}

.copy-title {
  text-align: center;
}

.copy-body {
  text-align: center;
}

.qr-code {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}